body {
  -webkit-font-smoothing: antialiased !important;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 50px;
  color: #333;
  background-color: #154661;
}

.pageheader {
  margin-bottom: 20px;
}

.pageheader img{
  float: left;
  margin-right: 20px;
  height: 40px;
  margin-left: 15px;
}

.pageheader h1{
  color: #ffffff;
}


.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-inverse {
  background-color: #164662;
  border-color: #164662;
}

.search-form{
  margin-bottom: 15px;
}

.search-form input{
  margin-left: 10px;
  margin-right: 30px;
}

.search-form button{
  color: #000066;
}

input, select {
  color: #154661;
}

.panel-body {
  padding: 0px;
}

.panel-primary .panel-heading, .partition-primary .panel-heading {
  background-color: #00659F;
  border: none;
}

.panel {
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #8e8e93;
  border: none;
  position: relative;
}

.panel-primary, .partition-primary {
  background-color: #00659F;
  position: relative;
  color: #ffffff;
}

.text-bold {
  font-weight: bold !important;
  color: #f40014;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  color: inherit;
}

h1.panel-title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.input-group-addon {
  background-color: #6AC8EE;
  border: 1px solid #6AC8EE;
  color: #ffffff;
}

textarea, select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #c8c7cc;
  border-radius: 0 0 0 0 !important;
  color: #5b5b60;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.2;
  padding: 5px 4px;
  transition-duration: 0.1s;
  box-shadow: none !important;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -ms-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

select.form-control {
  background-color: #FFFFFF;
  border: 1px solid #c8c7cc;
  border-radius: 0 0 0 0;
  color: #5b5b60;
}

.input-group {
  float: left;
  width: 250px;
  margin-right: 20px;
}

.search-form input {
  margin-left: 0px;
  margin-right: 0px;
}


.search-form {
   margin-bottom: 0px;
}

.form-group {
   margin-bottom: 0px;
}

.panel-tools {
  position: absolute;
  right: 10px;
  top: 14px;
  font-size: 12px;
}

.buttons-widget .btn, .buttons-widget .bootstrap-switch, .buttons-widget button {
  margin-bottom: 10px;
}
.btn-primary.btn-o {
  border: 1px solid #3395ff;
  color: #ffffff;
}
.buttons-widget .btn, .buttons-widget .bootstrap-switch, .buttons-widget button {
  margin-bottom: 10px;
}
.btn-squared {
  border-radius: 0 !important;
  margin-top: -3px;
}
.btn-primary {
  background-color: #3395ff;
  border-color: #3395ff;
  color: #ffffff;
}
.btn-o {
  background: none !important;
}
.btn-wide {
  min-width: 120px;
}
.btn {
  transition: all 0.3s ease 0s !important;
  background-image: none !important;
  box-shadow: none !important;
  outline: none !important;
  position: relative;
}

