<header ng-controller="TopMenuController as vm">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="default"></a>
            </div>

            <div class="collapse navbar-collapse" ng-class="{'in':!navCollapsed}">

                <ul class="nav navbar-nav">
                    <li ng-repeat="menuRoute in vm.menuStates">
                        <a ui-sref="{{menuRoute.name}}" ui-sref-active="active">{{menuRoute.menuTitle}}</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
