<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pageheader clearfix">
                <img src="images/icon.png">
                <h1 class="panel-title">RePill Health <span class="text-bold">Dashboard</span></h1>

            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="search-form" ng-repeat=" dateFormat in vm.dateFormats">

                        <div class="form-group clearfix">
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                <input class="form-control" id="startDate" type="text"
                                       ng-model="vm.startDateFormatted"
                                       mo-date-input="DD.MM.YYYY HH:mm" placeholder="dd.mm.yyyy"/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                <input class="form-control" id="endDate" type="text"
                                       ng-model="vm.endDateFormatted"
                                       mo-date-input="DD.MM.YYYY HH:mm" placeholder="dd.mm.yyyy"/>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-user"></i> </span>
                                <select id="identifier" class="form-control" ng-model="vm.identifier" ng-options="identifier.name for identifier in vm.identifiers track by identifier.id">

                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="panel-tools"><button ng-click="callGetHealthkitData()" class="btn btn-wide btn-primary btn-squared btn-o">Show Data</button></div>
                </div>
                <div class="panel-body">
                    <highchart id="chart1" style="height: 600px;" config="vm.highchartsNG"></highchart>
                </div>
            </div>





        </div>
    </div>
</div>
